@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  background: url("../imgs/backgroundLp.png");
  padding: 4rem calc((100% - 450px)/2);
}

.formulario {
  background-color: #131212f1;
  color: white;
  img {
    width: 180px;
  }
}